/* -----------------------------
    Fonts
--------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

/* -----------------------------
    Common Styles or Utilities
--------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  color: #131313;
}
header {
  padding: 0 240px 40px 240px;
  background-color: rgb(255 244 231);
}
main,
footer {
  padding: 0 240px;
}
.section-title {
  font-weight: 700;
  font-size: 45px;
}
.section-description {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

/* -----------------------------
    Navigation Bar
--------------------------------*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-others-container {
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}
.nav-others-container ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
  justify-content: space-between;
}

/* -----------------------------
    Banner Section
--------------------------------*/
.banner {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}
.banner-info-container {
  padding: 0 150px;
}
.banner-title {
  font-weight: 700;
  font-size: 64px;
}
.btn-primary {
  font-weight: 600;
  font-size: 20px;
  color: white;
  background: #ff900e;
  padding: 20px 25px;
  margin-top: 20px;
  border: 0;
  border-radius: 8px;
}
.banner-image img {
  width: 100%;
}

/* -----------------------------
    Quick list Section
--------------------------------*/
.quicklist {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 85px 30px 130px 30px;
}
.quicklist-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

/* .quicklist-image img {
  height: 100%;
  width: 100%;
} */
.quicklist-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
}
.quicklist-title {
  font-weight: 500;
  font-size: 45px;
  color: #727272;
}
.quicklist-title2 {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
/* -----------------------------
    Media Query
--------------------------------*/
/* Mobile Devices */
@media only screen and (max-width: 576px) {
  header,
  main,
  footer {
    padding: 0 20px 10px 20px;
  }
  nav {
    flex-direction: column;
  }
  .nav-others-container ul {
    flex-direction: column;
    justify-content: center;
  }
  .banner {
    justify-content: space-evenly;
  }
  .banner-info-container {
    padding: 0;
  }
  .banner-image img {
    width: 100%;
  }
}

/* Tablet Devices */
@media only screen and (min-width: 577px) and (max-width: 992px) {
  header,
  main,
  footer {
    padding: 0 30px 20px 30px;
  }
  nav {
    flex-direction: column;
  }
  .nav-others-container ul {
    /* flex-direction: column; */
    justify-content: center;
  }
  .banner-info-container {
    padding: 0;
  }
  .banner-image img {
    width: 100%;
  }
}
